@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-50 text-slate-900;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    letter-spacing: -0.02em;
  }
}

